PROJECT_NAME=finstream
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081
REDIS_HOST=localhost
REDIS_PORT=6379
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
AWS_REGION=us-east-1
S3_BUCKET=finstream-lakehouse
S3_PREFIX=finstream
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
MLFLOW_TRACKING_URI=http://localhost:5000

POLYGON_API_KEY=C0_JGyz4cU56JLdz8lHIaK2PIurKEny5
NEWS_API_KEY=490c6fb21826407b87fc03d5b6161493

DEFAULT_TICKERS=AAPL,MSFT,AMZN,GOOGL,META
NEWS_POLL_INTERVAL_MINUTES=120
STOCK_POLL_INTERVAL_MINUTES=5
