# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.env
.docker/
airflow/logs/
*.pyc


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker / local
s3_local_cache/
clickhouse_data/
postgres_data/
redis_data/

Aws-access-keys.txt
data/raw/**/*.csv